@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
     src: local("Open Sans"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/Open+Sans.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/Open+Sans.woff") format("woff");
}

::before
::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: var(--black);
}

h1 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
}

h2 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
}

h3 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

button {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.subtitle {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
}

:root {
    --black: #031923;
    --yellow: #E5BB33;
    --blue: #205B75;
    --white: #FFFFFF;
}

footer {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: var(--white);
    background-color: var(--black);
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}