*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: var(--black);
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

a {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: var(--green);
}

button {
    border: none;
    cursor: pointer;
    text-transform: lowercase;
    box-sizing: border-box;
    padding: 6px 10px 10px;
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green);
    background-color: transparent;
}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.subtitle {
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    color: var(--green);
}

:root {
    --black: #031923;
    --yellow: #E5BB33;
    --blue: #205B75;
    --white: #FFFFFF;
    --green: #09A494;
}

footer {
    color: var(--white);
    background-color: var(--black);
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav a {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    padding: 10px 15px;
    color: var(--black);
    display: inline-block;
    text-decoration: none;
}

.main-nav a:hover {
    color: var(--green);
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--green);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover {
    background-color: var(--green);
}

.skills-buttons {
    padding: 0px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link_github {
    background-image: url("../img/github.svg");
}

.social-link_gitlab {
    background-image: url("../img/gitlab.svg");
}

.social-link_instagram {
    background-image: url("../img/instagram.svg");
}

.social-link_telegram {
    background-image: url("../img/telegram.svg");
}

.social-link_vk{
    background-image: url("../img/vk.svg");
}

.contact {
    padding: 0;
}

.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact-link {
    text-decoration: none;
    color: var(--black);
    background-repeat: no-repeat;
    background-position: left;
}

.contact-link:hover {
    text-decoration: none;
    color: var(--green);
}

.contact-link_phone {
    padding: 5px 0px 5px 42px;
    background-image: url("../img/phone.svg");
}

.contact-link_mail {
    padding: 5px 0px 5px 42px;
    background-image: url("../img/mail.svg");
}


.skill-item_html {
    background-image: url("../img/html.svg");
}


.skill-item_css {
    background-image: url("../img/css.svg");
}


.skill-item_cpp {
    background-image: url("../img/c++.svg");
}


.skill-item_python {
    background-image: url("../img/python.svg");
}

.main-photo {
    border-radius: 50%
}

.main-header .main-logo {
    padding: 60px 0px 0px;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}

.skill-level {
    margin: 4px 0 16px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}

.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}

.skill-item {
    text-transform: lowercase;
}